.summary-content{
    box-shadow: 5px #888888;
}
.widgets{
padding-top: 5px;
}
.tab-bar{
    text-decoration: none;
    font-size: 15px;
    background-color: #b9b9b946;
}
.table-container{
    background-color: #ffffff;
    border-radius: 2px;
}
